<% include ../partials/head %>

<main>
    <div class="row">
        <div class="container">    
            <h2>Variable</h2>
            <p><%= tagline %></p>

            <h2>Loop</h2>
            <table>
            <tr>
                <th>Teamname</th>
                <th>Hamburg</th>
                <th>München</th>
            </tr>
                <% teams.forEach(function(team) { %>
                    <li><%= team.on_site %> - <%= team.drunkness %></li>
                <% }); %>
                <tr>
                    <th>Berlin</th>
                    <th>Hamburg</th>
                    <th>München</th>
                </tr>
                <tr>
                    <td>Miljöh</td>
                    <td>Kiez</td>
                    <td>Bierdampf</td>
                </tr>
                <tr>
                    <td>Buletten</td>
                    <td>Frikadellen</td>
                    <td>Fleischpflanzerl</td>
                </tr>
            </table>
            <ul>
                <% teams.forEach(function(team) { %>
                    <li><%= team.on_site %> - <%= team.drunkness %></li>
                <% }); %>
            </ul>
        </div>
    </div>
</main>

<% include ../partials/footer %>